<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Pantry Assist</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
        <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href='{% static "css/index.css" %}'/>
        <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />

        
    </head>
    <body>
        <div id='root'>
            <div id="app"></div>
            <p>hello</p>
        </div>

        <script src='{% static "frontend/main.js" %}'></script>

    </body>
</html>